<div class="layoutItems">

    <div class="item_Card placeholder">
        <div class="image_Card"></div>
        <div class="content_card">
            <h1></h1>
            <p></p>
        </div>
        <button></button>
    </div>

    <div class="item_Card placeholder">
        <div class="image_Card"></div>
        <div class="content_card">
            <h1></h1>
            <p></p>
        </div>
        <button></button>
    </div>

    <div class="item_Card placeholder">
        <div class="image_Card"></div>
        <div class="content_card">
            <h1></h1>
            <p></p>
        </div>
        <button></button>
    </div>
    
    <div class="item_Card placeholder">
        <div class="image_Card"></div>
        <div class="content_card">
            <h1></h1>
            <p></p>
        </div>
        <button></button>
    </div>
</div>
